.carousel-leave {
    transition: transform 1s ease-in-out;
    transform: translateX(0);
}

.carousel-leave-active {
    transform: translateX(-100%);
}
  
.carousel-enter {
    transition: transform 1s ease-in-out;
    transform: translateX(100%);
}

.carousel-enter-active {
    transform: translateX(0);
}

.carousel-height {
    // 70% - slider, 8rem - arrow, 50% - slide's img, 1.25 - img ratio
    height: calc((100vw * .7 - 8rem) * .5 / 1.25) !important;

    @include respond(big-desktop) {
        height: calc((100vw * .65 - 8rem) * .5 / 1.25) !important;
    }
}

@keyframes dotLoader {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
