$color-primary: #2f2e2f;
$color-secondary: #474647;
$color-text: #696869;

$color-grey-light: #d2d2d2;
$color-grey-light-2: #d1d0d1;
$color-yellow: #ffb833;

$color-green: #42a17b;
$color-green-2: #58ad8b;