.btn {
    margin: 2rem 1rem 0 0;
    padding: .7rem 2rem;

    font-size: 1.3rem;
    border: 1px solid $color-grey-light-2;
    border-radius: 2px;
    color: $color-grey-light-2;
    outline: none;
    background-color: transparent;
    transform: translateY(0);
    transition: transform .2s;
    cursor: pointer;

    &--active {
        border: 1px solid $color-green;
        color: $color-green;
    }

    &:active {
        transform: translateY(3px);
    }
}