.btn {
    margin-right: 1rem;
    padding: .6rem 1.8rem;

    font-size: 1.2rem;
    border: 1px solid $color-grey-light-2;
    border-radius: 2px;
    color: $color-grey-light-2;
    outline: none;
    background-color: transparent;
    transition: transform .2s;
    cursor: pointer;

    @include respond(big-desktop) {
        font-size: 1.4rem;
        padding: .9rem 2rem;
    }

    &--active {
        border: 1px solid $color-green;
        color: $color-green;
    }

    &:active {
        transform: translateY(3px);
    }
}