.cities {
    @include centeredRow;
    margin-top: 5rem;
    width: 70%;

    @include respond(big-desktop) {
        width: 65%;
    }

    &__title {
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        &--text {
            flex: 1;
            margin-right: auto;
            color: $color-text;
            font-size: 1.6rem;

            @include respond(big-desktop) {
                font-size: 2rem;
            }

            & span:first-child {
                font-weight: bold;
                color: $color-secondary;
            }
        }
    }

    &__link {
        &:link, 
        &:visited { 
            margin-right: 8rem;
            color: $color-green-2;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            transition: border-bottom .2s, transform .2s;
            font-size: 1.4rem;

            @include respond(big-desktop) {
                font-size: 1.6rem;
            }
        }

        &:hover { border-bottom: 2px solid $color-green-2; }
        &:active { transform: translateY(3px); }
    }

}