.time {
    margin-top: .2rem;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__hour {
        font-size: 2.2rem;

        @include respond(big-desktop) {
            font-size: 2.5rem;
        }
    }

    &__period {
        margin-top: .3rem;
        font-size: 2.2rem;
    }
}