.weather {
    &__info {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 300;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        margin-right: 1.5rem;

        path {
            fill: white;
        }
    }

    &__degree {
        font-size: 4.5rem;

        @include respond(big-desktop) {
            font-size: 5.5rem;
        }
    }

    &__scale {
        padding-top: 5px;
        font-size: 2.5rem;
        align-self: flex-start;

        @include respond(big-desktop) {
            font-size: 2.5rem;
        }
    }

    &__description {
        margin-top: 1rem;
        font-weight: 100;
        width: 100%;

        @include respond(big-desktop) {
            margin-top: 1.5rem;
            font-size: 2rem;
        }
    }
}